/* Here is the css for the top portion of my website*/
nav {
  background-color: #545454;
  line-height: 30px;
  font-size: 1em;
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}

#align{
  padding-top: 35px;
}

nav a {
  font-size: 1.3em;
  text-align: center;
  padding-top: 20px;
}

nav a:link, nav a:visited {
  color: #faf3cc;
  text-decoration: none;
  -webkit-text-stroke: .5px #0f9fa7 ;
  font-weight: bolder;
}


nav a:hover {
  color: white;
  background-color: #0f9fa7;
}

.logo{
  width: 100%;
  height: 100%;
  margin: 0px;
}

header{
  display: grid;
  grid-template-columns: 1fr 9fr;
  margin: -8px;
}


/* Body */

body{
background-color: #a3a4a3;
}


#image{
  width: 700px;
  height: auto;
}

@media screen and (max-width: 900px) {
  nav a {
    display: block;
    padding: 15px;
  }
  nav{
    flex-direction: column;
  }
  }